@import "../../styles/mixin.scss";

.page-dynamic {
  .dynamic-tab {
    @include wh(550px, 80px);
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    z-index: 999;
    .dynamic-tab-item {
      flex: 1;
      text-align: center;
      @include hl(80px);
      @include sc(30px, $font-color-gray);
      &.active {
        color: $font-color-action;
      }
    }
  }
}
